@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mapboxgl-popup > .mapboxgl-popup-content {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  background-color: rgb(30 41 59);
  border-radius: 10px;
}

.mapboxgl-map .mapboxgl-popup > .mapboxgl-popup-tip {
  border-top-color: rgb(30 41 59);
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}
